@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

*{margin:0;padding:0;box-sizing:border-box}
body{font-family:Inter;background:#f9fafb;color:#0f172a}

/* NAVBAR */
.navbar{
display:flex;justify-content:space-between;
padding:25px 80px;background:white;
box-shadow:0 3px 15px rgba(0,0,0,.05);
position:sticky;top:0;
}
.navbar nav a{margin-left:30px;text-decoration:none;color:#334155;font-weight:600}

/* HERO SPLIT */
.hero-split{
display:grid;grid-template-columns:1fr 1fr;
align-items:center;padding:100px 80px;gap:40px;
}
.hero-img img{width:100%;border-radius:15px}
.hero-text h1{font-size:55px}
.hero-buttons{margin-top:25px}
.primary-btn{padding:15px 28px;background:#2563eb;color:white;border:none;border-radius:8px}
.secondary-btn{padding:15px 28px;border:none;background:#e2e8f0}

/* LOGOS */
.logos{text-align:center;padding:40px;background:white}
.logo-row{display:flex;justify-content:center;gap:50px;margin-top:15px;font-weight:700}

/* ABOUT */
.about{display:grid;grid-template-columns:1fr 1fr;gap:50px;padding:100px 80px}
.about img{width:100%;border-radius:15px}

/* PROGRAMS */
.programs{padding:100px 80px;text-align:center}
.program-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:30px;margin-top:40px}
.program-card{background:white;padding:20px;border-radius:12px;box-shadow:0 10px 30px rgba(0,0,0,.07)}
.program-card img{width:100%;border-radius:10px}

/* HIRE */
.hire{text-align:center;padding:100px;background:#0f172a;color:white}

/* TESTIMONIALS */
.testimonials{padding:100px 80px;text-align:center}
.testimonial-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:30px;margin-top:40px}
.testimonial{background:white;padding:40px;border-radius:12px;box-shadow:0 10px 30px rgba(0,0,0,.07)}

/* BLOG */
.blog{padding:100px 80px;text-align:center}
.blog-grid{display:grid;grid-template-columns:repeat(3,1fr);gap:30px;margin-top:40px}
.blog-card{background:white;padding:40px;border-radius:12px}

/* CTA */
.cta{text-align:center;padding:100px;background:linear-gradient(135deg,#2563eb,#38bdf8);color:white}

/* FOOTER */
footer{background:#020617;color:white;padding:60px}
.footer-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:40px}
